{# src/Sdz/BlogBundle/Resources/views/Blog/delete.html.twig #}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>delete</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('md.ico') }}" />
</head>
<body>
	<h1>Delete</h1>
	<p>delete article {{ id }} </p>
</body>
</html>