{# src/Sdz/BlogBundle/Resources/views/Blog/showSlug.html.twig #}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>showSlug</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('md.ico') }}" />
</head>
<body>
	<h1>ShowSlug</h1>
	<p>Slug: {{ slug }}</p>
</body>
</html>